<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\VirtualWallet.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
      <rewrite>
        <rules>
          <!-- Redirigir a dominio canónico www.virtualwallet.com.ar -->
          <rule name="Canonical Domain" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAll">
              <add input="{HTTP_HOST}" pattern="^virtualwallet\.com\.ar$" />
            </conditions>
            <action type="Redirect" url="https://www.virtualwallet.com.ar/{R:1}" redirectType="Permanent" />
          </rule>
          <!-- Forzar HTTPS -->
          <rule name="Force HTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>